<p>building-selection works!</p>

<!--  -->

<app-form-add [boolean]="editMode" [name]="'Building'"></app-form-add>
<div class="input-group my-1 container-lg">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect">
      {{ selectBuilding }}
    </label>
  </div>
  <select
    #buildingSelect
    class="custom-select"
    id="inputGroupSelect"
    (change)="onBuildingChange(buildingSelect.value)"
  >
  <!-- <option value="{{ null }}" selected>Wszystkie...</option> -->
    <ng-container *ngFor="let building of buildings; let i = index">
      <option value="{{ building.buildingId }}"
      >
        {{ building.buildingName }}
      </option>
    </ng-container>
  </select>
</div>
<app-form-change
  [boolean]="editMode"
  [selectedId]="buildingIdSelected"
  [name]="'Building'"
></app-form-change>

<hr />
<app-form-add [boolean]="editMode" [name]="'Fragment'"></app-form-add>
<div class="input-group my-1 container-lg">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect">
      {{ selectFragment }}
    </label>
  </div>
  <select
    #fragmentSelect
    class="custom-select"
    id="inputGroupSelect"
    (change)="onFragmentChange(fragmentSelect.value)"
  >
    <option value="{{ null }}" selected>Wszystkie...</option>
    <ng-container *ngFor="let fragment of fragments; let i = index">
      <option
        *ngIf="buildingSelect.value == fragment.buildingId"
        value="{{ fragment.fragmentId }}"
        label="{{ fragment.fragmentName }}"
      >
        {{ fragment.fragmentName }}
      </option>
    </ng-container>
  </select>
</div>
<app-form-change
  [boolean]="editMode"
  [selectedId]="fragmentIdSelected"
  [name]="'Fragment'"
></app-form-change>

<hr />
<app-form-add [boolean]="editMode" [name]="'Storey'"></app-form-add>
<div class="input-group my-1 container-lg">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect">
      {{ selectStorey }}
    </label>
  </div>
  <select
    #storeySelect
    class="custom-select"
    id="inputGroupSelect"
    (change)="onStoreyChange(storeySelect.value)"
  >
    <option value="{{ null }}" selected>Wszystkie...</option>
    <ng-container *ngFor="let storey of storeys; let i = index">
      <option
        *ngIf="
          fragmentSelect.value == storey.fragmentId && fragmentSelect.value
        "
        value="{{ storey.storeyId }}"
      >
        {{ storey.storeyName }}
      </option>
    </ng-container>
  </select>
</div>
<app-form-change
  [boolean]="editMode"
  [selectedId]="storeyIdSelected"
  [name]="'Storey'"
></app-form-change>

<!--  -->

<!-- <app-dropdown-select
  [selectName]="selectObiekt"
  [buildings]="buildingsList"
></app-dropdown-select> -->
<!-- <app-dropdown-select
  [selectName]="selectFragment"
  [buildings]="fragmentsList"
></app-dropdown-select> -->
<!-- <app-dropdown-select
  [selectName]="selectStorey"
  [buildings]="storeys"
></app-dropdown-select> -->
