<p>building-selection works!</p>

<!--  -->
<form *ngIf="editMode" class="container-lg my-1">
  <div class="form-row">
    <div class="col">
      <input
        class="form-control"
        id="addBuilding"
        type="text"
        formControlName="addBuilding"
        placeholder="Add new Building"
      />
    </div>
    <button class="btn btn-success" type="submit">+</button>
  </div>
  
</form>

<div class="input-group mb-3 container-lg">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect">
      <!-- <input
        *ngIf="editMode; else elseBlock"
        id="selectBuilding"
        type="text"
        formControlName="selectBuilding"
        value="{{ selectBuilding }}"
      />
      <ng-template #elseBlock>{{ selectBuilding }}</ng-template> -->
      {{ selectBuilding }}
    </label>
  </div>
  <select
    #buildingSelect
    class="custom-select"
    id="inputGroupSelect"
    (change)="onBuildingChange(buildingSelect.value)"
  >
    <!-- <option selected>Choose...</option> -->
    <!-- <option value="{{ null }}" selected>Wszystkie...</option> -->
    <ng-container *ngFor="let building of buildings; let i = index">
      <option value="{{ building.buildingId }}">
        {{ building.buildingName }}
      </option>
    </ng-container>
    <!-- 
    <option
      *ngFor="let building of buildings; let i = index"
      value="{{ building.buildingId }}"
    >
      {{ building.buildingName }}
    </option> -->
  </select>
</div>

<div class="input-group mb-3 container-lg">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect">
      {{ selectFragment }}
    </label>
  </div>
  <select
    #fragmentSelect
    class="custom-select"
    id="inputGroupSelect"
    (change)="onFragmentChange(fragmentSelect.value)"
  >
    <option value="{{ null }}" selected>Wszystkie...</option>
    <ng-container *ngFor="let fragment of fragments; let i = index">
      <option
        *ngIf="buildingSelect.value == fragment.buildingId"
        value="{{ fragment.fragmentId }}"
      >
        {{ fragment.fragmentName }}
      </option>
    </ng-container>
  </select>
</div>

<div class="input-group mb-3 container-lg">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect">
      {{ selectStorey }}
    </label>
  </div>
  <select
    #storeySelect
    class="custom-select"
    id="inputGroupSelect"
    (change)="onStoreyChange(storeySelect.value)"
  >
    <option value="{{ null }}" selected>Wszystkie...</option>
    <ng-container *ngFor="let storey of storeys; let i = index">
      <option
        *ngIf="
          fragmentSelect.value == storey.fragmentId && fragmentSelect.value
        "
        value="{{ storey.storeyId }}"
      >
        {{ storey.storeyName }}
      </option>
    </ng-container>
  </select>
</div>

<!--  -->

<!-- <app-dropdown-select
  [selectName]="selectObiekt"
  [buildings]="buildingsList"
></app-dropdown-select> -->
<!-- <app-dropdown-select
  [selectName]="selectFragment"
  [buildings]="fragmentsList"
></app-dropdown-select> -->
<!-- <app-dropdown-select
  [selectName]="selectStorey"
  [buildings]="storeys"
></app-dropdown-select> -->
