<p>works works!</p>

<button (click)="test()">TEST</button>
<p>{{ buildingIdSelected }}</p>
<p>{{ fragmentIdSelected }}</p>
<p>{{ storeyIdSelected }}</p>

<ng-container *ngFor="let work of works; let i = index">
  <div
    class="container-lg my-2"
    *ngIf="checkValue(buildingIdSelected, work.buildingId)"
  >
    <button
      class="btn btn-secondary btn-block"
      type="button"
      data-toggle="collapse"
      attr.data-target="#collapse{{ work.workId }}"
      aria-expanded="false"
      attr.aria-controls="collapse{{ work.workId }}"
    >
      <div class="row align-items-center">
        <div class="col-8 h4 m-0">{{ work.workName }}</div>
        <div class="col-4 h4 m-0 text-right">{{ infoPercent }}%</div>
      </div>
    </button>

    <div class="collapse" id="collapse{{ work.workId }}">
      <div class="card card-body">
        <ng-container *ngFor="let workDetail of workDetails; let i = index">
          <div *ngIf="work.workId == workDetail.workId">
            <div
              class="container px-0"
              type="button"
              data-toggle="collapse"
              attr.data-target="#collapseDetail{{ workDetail.workDetailId }}"
              aria-expanded="false"
              attr.aria-controls="collapseDetail{{ workDetail.workDetailId }}"
            >
              <div class="d-flex align-items-center py-2">
                <div class="h5">{{ workDetail.workDetailName }}</div>
                <div class="progress flex-fill mx-2">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [ngStyle]="{ width: workDetail.workDetailProgress + '%' }"
                    attr.aria-valuenow="{{ workDetail.workDetailProgress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <div class="text-right">
                  {{ workDetail.workDetailProgress }}%
                </div>
              </div>
            </div>
            <div
              class="collapse"
              id="collapseDetail{{ workDetail.workDetailId }}"
            >
              <div class="card card-body">
                <ng-container
                  *ngFor="let progress of workProgress; let i = index"
                >
                  <div
                    class="align-items-center"
                    *ngIf="workDetail.workDetailId == progress.workDetailId"
                  >
                    <div
                      *ngFor="let workDetailImage of progress.workDetailImages"
                    >
                      <div class="col bg-light text-center mt-1">
                        {{ workDetailImage.imagesData }}
                      </div>
                      <div class="row">
                        <img
                          *ngFor="let image of workDetailImage.images"
                          src="{{ image }}"
                          class="rounded mx-auto d-block col-12 col-sm-6 col-md-4 col-lg-3 mb-1"
                          alt="..."
                        />
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<!-- <app-dropdown-info></app-dropdown-info> -->
